* @coopnorge/member

Dockerfile @coopnorge/github-review-bots @coopnorge/member
go.mod @coopnorge/github-review-bots @coopnorge/member
go.sum @coopnorge/github-review-bots @coopnorge/member
vendor @coopnorge/github-review-bots @coopnorge/member

/CODEOWNERS @coopnorge/cloud-security
.github/workflows/security-* @coopnorge/cloud-security

