on:
  push: {}
  pull_request: {}
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Output message
        run: echo This is a default job to trigger output but it fails
      - name: Fail when not in template
        if: ${{ github.repository != 'coopnorge/github-template-default' }}
        run: exit 1