---
name: CI
on:
  push:
    branches: [ "main" ]
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  setup:
    name: "Checking folders for changes"
    runs-on: ubuntu-latest
    outputs:
      is_repository_changed: ${{ steps.changes.outputs.changes }}
    steps:
      - name: "Checkout..."
        uses: actions/checkout@v4
      - uses: dorny/paths-filter@v2
        id: changes
        with:
          filters: |
            changes:
              - '**'
      - name: "Print changes..."
        run: |
          echo "::${{ steps.changes.outputs }}"

  golang-ci:
    needs:
      - setup
    if: ${{ needs.setup.outputs.is_repository_changed == 'true' }}
    concurrency:
      group: ${{ github.repository }}-${{ github.workflow }}-golang-ci-${{ github.ref }}
      cancel-in-progress: true
    permissions:
      contents: read
      id-token: write
      packages: read
    name: Go
    uses: coopnorge/github-workflow-devtools-build-oci/.github/workflows/oci-ci.yaml@v1
    with:
      xdg_cache_hash: ${{ needs.setup.outputs.xdg_cache_hash }}
      docker-compose-service: golang-devtools
      publish: ${{ github.ref == 'refs/heads/main' }}
      workload_identity_provider: projects/889992792607/locations/global/workloadIdentityPools/github-actions/providers/github-actions-provider
      service_account: helloworld-github-actions@helloworld-shared-0918.iam.gserviceaccount.com
    secrets: inherit

  build:
    needs:
      - "setup"
    if: always()
    runs-on: ubuntu-latest
    steps:
      - run: echo "Done"
