name: Codespell
on:
  pull_request:
    types: [opened, synchronize, reopened]

permissions:
  contents: read  #  to fetch code (actions/checkout)

jobs:
  codespell:
    name: "Check for spelling errors"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: codespell-project/actions-codespell@23a4abea248a30208f0b9d8682ac515b5714cd3e # pin@master
        with:
          check_filenames: true
          skip: "./vendor,./telemetry,go.mod,go.sum"
  build:
    needs:
      - "codespell"
    if: always()
    runs-on: ubuntu-latest
    steps:
      - run: exit 1
        name: "Catch errors"
        if: |
          needs.codespell.result == 'failure'
    permissions: {}
