name: "Release Drafter"
on:
  push:
    branches:
    - main
permissions:
  contents: read

jobs:
  release-draft:
    permissions:
      pull-requests: write
      contents: write
      issues: write
    uses: coopnorge/github-workflow-release-drafter/.github/workflows/release-drafter-go.yaml@v0
