name: "Golang CI"
on:
  push: {}
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  matrix-prep:
    runs-on: ubuntu-latest
    outputs:
      paths: '["configloader","pkg", "telemetry"]'
    permissions: {}
    steps:
      - run: echo "Preparing matrix"

  golang-ci:
    needs: matrix-prep
    name: "Lint Modules"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        path: ${{ fromJson(needs.matrix-prep.outputs.paths) }}
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v5
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25"
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.7
          working-directory: ${{ matrix.path }}
          args: -v ./...

  gotest:
    needs: matrix-prep
    name: "Test Modules"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        path: ${{ fromJson(needs.matrix-prep.outputs.paths) }}
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v5
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25"
      - name: Run tests with coverage
        run: |
          cd ${{ matrix.path }}
          go test -v -race -coverprofile=coverage.txt -covermode=atomic ./...

  build:
    needs:
      - "golang-ci"
      - "gotest"
    if: always()
    runs-on: ubuntu-latest
    steps:
      - run: exit 1
        name: "Catch errors"
        if: |
          needs.golang-ci.result == 'failure' || contains(needs.*.result, 'failure')
    permissions: {}
