name: "Technical documentation CI"
on:
  push: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      is_docs_changed: ${{ steps.filter.outputs.docs }}
    steps:
      - name: "Checkout..."
        uses: actions/checkout@v5
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # pin@v3
        id: filter
        with:
          filters: |
            docs:
              - 'docs/**'
      - name: "Print changes..."
        run: |
          echo "::${{ steps.changes.outputs }}"

    permissions:
      contents: read
      pull-requests: read
  techdocs:
    name: "TechDocs"
    needs: "setup"
    if: ${{ needs.setup.outputs.is_docs_changed == 'true' }}
    permissions:
      contents: read
      id-token: write
      packages: read
      pull-requests: read
    uses: coopnorge/github-workflow-techdocs/.github/workflows/techdocs.yaml@v0

  build:
    needs:
      - "setup"
      - "techdocs"
    if: always()
    runs-on: ubuntu-latest
    steps:
      - run: exit 1
        name: "Catch errors"
        if: |
          needs.techdocs.result == 'failure'
    permissions: {}
